@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full bg-background;
  }

  :root {
    --background: 30 33% 99%;
    --foreground: 25 47% 15%;

    --card: 30 33% 99%;
    --card-foreground: 25 47% 15%;

    --popover: 30 33% 99%;
    --popover-foreground: 25 47% 15%;

    --primary: 25 63% 30%;
    --primary-foreground: 30 33% 99%;

    --secondary: 22 43% 89%;
    --secondary-foreground: 25 47% 15%;

    --muted: 22 43% 89%;
    --muted-foreground: 25 35% 35%;

    --accent: 35 91% 52%;
    --accent-foreground: 30 33% 99%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 30 33% 99%;

    --border: 20 30% 85%;
    --input: 20 30% 85%;
    --ring: 25 47% 15%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 25 47% 15%;
    --foreground: 30 33% 99%;

    --card: 25 47% 15%;
    --card-foreground: 30 33% 99%;

    --popover: 25 47% 15%;
    --popover-foreground: 30 33% 99%;

    --primary: 30 33% 99%;
    --primary-foreground: 25 47% 15%;

    --secondary: 25 35% 25%;
    --secondary-foreground: 30 33% 99%;

    --muted: 25 35% 25%;
    --muted-foreground: 30 25% 85%;

    --accent: 35 91% 52%;
    --accent-foreground: 30 33% 99%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 30 33% 99%;

    --border: 25 35% 25%;
    --input: 25 35% 25%;
    --ring: 30 25% 85%;

    --radius: 0.5rem;
  }
}